* {
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right bottom, #2C3E4D 10%, #3a1c6b 90%);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ecf0f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --container-breakpoint: '640px';
}

::placeholder {
  color: #f2f2f2;
}